<%= bootstrap_form_for @race, url:
  @race.persisted? ? internal_race_url(@regatta, @race) : internal_races_url(@regatta) do |f| %>
  <%= hidden_field_tag :referrer, params[:referrer] %>

  <div class="row">
    <div class="col">
      <%= f.collection_select :event_number, @regatta.events, :number, :label %>
      <%= f.select :type_short, Parameter.all_race_type_names.invert %>
      <%= f.text_field :number_short %>
    </div>

    <div class="col">
      <%= f.datetime_field :planned_for, type: 'datetime-local' %>
      <%= f.time_field :started_at_time %>

      <%= f.datetime_field :result_official_since %>
      <%= f.check_box :result_corrected %>

      <%= f.datetime_field :weight_list_approved_at %>
      <%= f.text_field :weight_list_approved_by %>
    </div>
    <div class="col">
    </div>
  </div>

    <%= f.primary %>
<% end %>