<table class="table">
  <thead>
  <tr>
    <th>Rennen</th>
    <th>Lauf</th>
    <th>Startzeit</th>
    <th>Gestartet um</th>
    <th>Startlisteneinträge</th>
    <th>Ergebnisse</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% races.each do |race| %>
    <tr id="<%= race.to_anchor %>">
      <td><%=  race.event && link_to(race.event.label, internal_event_url(@regatta, race)) || '!' %></td>
      <td><%= race.name %></td>
      <td><%= race.planned_for && l(race.planned_for, format: :short) || '-' %></td>
      <td><%= race.started_at && l(race.started_at, format: :short) || '-' %></td>
      <td><%= race.starts.size.instance_eval { |s| s != 0 ? s : '-' } %></td>
      <td><%= race.results.size.instance_eval { |s| s != 0 ? s : '-' }  %></td>
      <td>
        <%= link_to "Bearbeiten", edit_internal_race_url(@regatta, race, referrer: local_assigns[:referrer]), class: 'btn btn-secondary' if can?(:edit, race) %>
        <%= button_to("Löschen", internal_race_url(@regatta, race, referrer: local_assigns[:referrer]), method: :delete, data: { confirm: "Sicher?"}, class: 'btn btn-danger') if can?(:delete, race) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>