<h1><%= t('helpers.titles.show', model: Race.model_name.human, label: @race.full_name).html_safe %></h1>

<div class="row">
  <div class="col-md-8 col-lg-9">
    <div class="row">
      <dl class="col">
        <%= dl_entry(@race, :event) { |ev| ev && link_to(ev.label, internal_event_path(@regatta, ev)) || "-" } %>
      </dl>
    </div>
  </div>
  <div class="col-md-4 col-lg-3">
    <%= link_to(t('helpers.titles.edit', model: Race.model_name.human),
                edit_internal_race_path(@regatta, @race, referrer: current_url),
                class: 'btn btn-secondary d-block my-1') if can?(:edit, @race) %>
    <%= button_to(t('helpers.actions.delete'), internal_race_path(@regatta, @race),
                  method: :delete, data: { confirm: "Sicher?"},
                  class: 'btn btn-danger d-block w-100',
                  form_class: 'd-block my-1') if can?(:delete, @race) %>
  </div>
</div>

<hr>

<h2>Starts</h2>
<%= render 'starts', object: @race %>

<h2>Ergebnisse</h2>
<%= render 'results', object: @race %>
