<% if participant.is_a?(Participant) %>
  <div class="item_list__item participant <%= "withdrawn" if participant.withdrawn? %> <%= "disqualified" if participant.disqualified? %>">
    <div>
      <%= hidden_field_tag 'starts[]', participant.participant_id %>
      <%= participant.number || "<<ID: #{participant.participant_id}>>" %>
      <span class="team_name">- <%= participant.team_name(hide_team_boat_number: true) %></span>
    </div>
  </div>
<% end %>
