<h1>Sprecher-Dashboard</h1>

<div class="row">
  <div class="col-md-6">
    <% if @latest_races.present? %>
      <h4>Letzte Ergebnisse</h4>
      <% @latest_races.each do |race| %>
        <div class="row mb-3">
          <div class="col-md-6"><%= race.started_at && l(race.started_at, format: :short) %></div>
          <div class="col-md-6">
            <%= link_to announcer_results_path(@regatta, race.event, race, reverse_lanes: params[:reverse_lanes]) do %>
              <%= race.event&.number %> -
              <%= race.event&.name_short %> -
              <%= race.name %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-6">
    <% if @next_races.present? %>
      <h3>Nächste Rennen</h3>

      <% @next_races.each do |race| %>
        <div class="row mb-3">
          <div class="col-md-6"><%= l race.planned_for, format: :short %></div>
          <div class="col-md-6">
            <%= link_to announcer_results_path(@regatta, race.event, race, reverse_lanes: params[:reverse_lanes]) do %>
              <%= race.event&.number %> -
              <%= race.event&.name_short %> -
              <%= race.name %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<script>
  autoreloadAfter(5000)
</script>