<% content_for :subnav do %>
  <nav class="navbar bg-body-secondary border-bottom py-0 mb-2" style="--bs-nav-link-padding-y: 0.05rem">
    <ul class="navbar-nav flex-row align-items-center w-100">
      <li class="nav-item col-2 text-center">
        <% if @previous_race %>
          <%= link_to announcer_results_path(@regatta, @previous_race.event.number, @previous_race.number, reverse_lanes: params[:reverse_lanes], lane_view: params[:lane_view]), class: 'nav-link prev-button' do %>
            &laquo; <%= @previous_race.compact_name %>
          <% end %>
        <% end %>
      </li>
      <li class="nav-item col-2 text-center">
        <% if @current_race && @current_race.full_name != @race.full_name %>
          <%= link_to announcer_results_path(@regatta, @current_race.event.number, @current_race.number, reverse_lanes: params[:reverse_lanes], lane_view: params[:lane_view]), class: 'nav-link fw-bold current-race-button' do %>
            &#9654; <%= @current_race.compact_name %>
          <% end %>
        <% end %>
      </li>
      <li class="nav-item col-2 text-center">
        <% if @next_race %>
          <%= link_to announcer_results_path(@regatta, @next_race.event.number, @next_race.number, reverse_lanes: params[:reverse_lanes], lane_view: params[:lane_view]), class: 'nav-link next-button' do %>
            <%= @next_race.compact_name %> &raquo;
          <% end %>
        <% end %>
      </li>
      <li class="nav-item col-2 text-center">
        <% if @same_event_races.present? %>
          <select id="select-race" class="form-select form-select-sm" onchange="Turbo.visit(this.value)">
            <option disabled selected><%= @race.name %></option>
            <% @same_event_races.each do |r| %>
              <option value="<%= announcer_results_path(@regatta, r.event.number, r.number, reverse_lanes: params[:reverse_lanes], lane_view: params[:lane_view]) %>">
                <%= r.name %>
              </option>
            <% end %>
          </select>
        <% end %>
      </li>
      <li class="nav-item col-2 text-center">
        <% if @related_event_races.present? %>
          <select id="select-event" class="form-select form-select-sm" onchange="Turbo.visit(this.value)">
            <option disabled selected><%= @race.event.name_short %></option>
            <% @related_event_races.group_by { |r| r.event.number }.each do |event_number, races| %>
              <optgroup label="Rennen <%= event_number %>">
                <% races.each do |r| %>
                  <option value="<%= announcer_results_path(@regatta, r.event.number, r.number, reverse_lanes: params[:reverse_lanes], lane_view: params[:lane_view]) %>">
                    <%= r.name %>
                  </option>
                <% end %>
              </optgroup>
            <% end %>
          </select>
        <% end %>
      </li>
      <li class="nav-item col-2 text-center">
        <%= link_to announcer_path(@regatta, reverse_lanes: params[:reverse_lanes], lane_view: params[:lane_view]), class: 'nav-link' do %>
          Dashboard
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>

<div class="row align-items-center mb-2">
  <div class="col-12 col-lg">
    <h3 class="mb-0"><%= @race.full_name(show_event_name_short: true) %></h3>
  </div>
  <div class="col-12 col-lg-auto">
    <div class="btn-group" role="group">
      <%= link_to "Nach Zeit", url_for(lane_view: nil, reverse_lanes: nil),
                  id: "sort-by-time",
                  class: "btn btn-sm #{params[:lane_view].blank? ? 'btn-outline-success' : 'btn-outline-secondary'}" %>
      <%= link_to "Nach Bahn (Bahn 1 oben)", url_for(lane_view: '1', reverse_lanes: nil),
                  id: "sort-by-lane",
                  class: "btn btn-sm #{params[:lane_view].present? && params[:reverse_lanes].blank? ? 'btn-outline-success' : 'btn-outline-secondary'}" %>
      <%= link_to "Nach Bahn (Bahn #{@regatta.number_of_lanes} oben)", url_for(lane_view: '1', reverse_lanes: '1'),
                  id: "sort-by-lane-reverse",
                  class: "btn btn-sm #{params[:lane_view].present? && params[:reverse_lanes].present? ? 'btn-outline-success' : 'btn-outline-secondary'}" %>
    </div>
  </div>
</div>

<div class="results-with-lane<%= ' results-by-lane' if params[:lane_view].present? %>">
  <turbo-frame id="results">
    <div class="result-row result-row__header">
      <div class="rank">Pos.</div>
      <div class="lane">Bahn</div>
      <div class="number">Bugnr</div>
      <div class="country">Land</div>
      <div class="team">Teamname</div>
      <% if @measuring_points %>
        <div class="times">
          <div class="times-label">Zeiten</div>
          <% @measuring_points.each do |mp| %>
            <div class="time"><%= mp.name %></div>
          <% end %>
        </div>
      <% else %>
        <div class="state">Status</div>
      <% end %>
    </div>

    <% @result_entries
         .then { |r| params[:lane_view].present? ? r.sort_by { |e| e[:lane].presence || e[:participant]&.number.to_i + 1000 } : r }
         .then { |r| params[:reverse_lanes].present? ? r.reverse : r }
         .each do |e| %>
      <div class="result-row result-row--rank-<%= e[:rank] %>"
           style="--rank-indent: <%= [(e[:rank] || 1) - 1, 0].max * 1.5 %>em">
        <div class="rank"><%= e[:rank] %> <%= medal_for(e[:rank]) if e[:rank] %></div>
        <div class="lane"><%= e[:lane] %></div>
        <div class="number">
          <% if e[:participant] %>
            <%= link_to e[:participant].number,
                        participant_path(@regatta, e[:participant].event_number, e[:participant].participant_id),
                        target: 'announcer-participant' %>
          <% end %>
        </div>
        <div class="country"><%= e[:participant]&.team&.country %></div>
        <div class="team"><%= e[:participant]&.team_name(regatta: @regatta) %></div>
        <div class="rower-names">
          <%= e[:participant]&.rower_names(rower_link: rower_link_proc(link_to_options: { target: 'announcer-rower' })) %>
        </div>
        <% if @measuring_points %>
          <div class="times">
            <% @measuring_points.each do |mp| %>
              <div class="time">
                <%= e[:result].time_for(mp)&.time %>
                <% if mp.number == @max_measuring_point_number %>
                  <br><%= e[:diff_to_prev] %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="state"><%= e[:participant]&.state %></div>
        <% end %>
      </div>
    <% end %>

    <%= render 'regatta/result_footer', race: @race %>
    <% if @pending_honors && can?(:access, :honors) %>
      <div class="mt-3">
        <%= link_to "Ausstehende Ehrungen", announcer_honors_path(@regatta),
                    class: 'btn btn-warning',
                    target: 'honors_window' %>
      </div>
    <% end %>
    <% if @race.honored? && @race.honorable? && can?(:honor, @race) %>
      <div class="mt-3">
        <%= button_to "Ehrung doch nicht erfolgt", announcer_honor_path(@regatta, @race.event_number, @race.number, referrer: current_url),
                      method: :delete,
                      class: 'btn btn-secondary' %>
      </div>
    <% end %>
    <script>autoreloadAfter(3000, document.getElementById('results'))</script>
  </turbo-frame>
</div>


<script>
  if (!window.perpKeyboardListenerInstalled) {
    window.perpKeyboardListenerInstalled = true
    window.addEventListener("keydown", function (event) {
      if (event.defaultPrevented) {
        return;
      }
      var b = null, s = null;
      if (event.key == "ArrowLeft") {
        b = document.querySelector('.prev-button')
      } else if (event.key == "ArrowRight") {
        b = document.querySelector('.next-button')
      } else if (event.key == "Home" || event.key == "F1") {
        b = document.querySelector('.current-race-button')
      } else if (event.key == "l") {
        s = document.getElementById('select-race')
      } else if (event.key == "r") {
        s = document.getElementById('select-event')
      } else if (event.key == "z") {
        b = document.getElementById('sort-by-time')
      } else if (event.key == "b") {
        b = document.getElementById('sort-by-lane')
      } else if (event.key == "B") {
        b = document.getElementById('sort-by-lane-reverse')
      }
      if (b) {
        b.click();
        event.preventDefault();
      } else if (s) {
        s.focus();
        s.showPicker();
        event.preventDefault();
      }
    })
  }
</script>
