<h2><%= t('.title', resource: resource.model_name.human) %></h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
  <% end %>

  <div class="field">
    <% help_text = t('.leave_blank_if_you_don_t_want_to_change_it') %>
    <% help_text << "<br>#{t('devise.shared.minimum_password_length', count: @minimum_password_length)}" if @minimum_password_length %>
    <%= f.password_field :password, autocomplete: "new-password", help: help_text.html_safe %>
  </div>

  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

  <%= f.password_field :current_password, autocomplete: "current-password", help: t('.we_need_your_current_password_to_confirm_your_changes') %>

  <fieldset>
    <legend>Einstellungen</legend>
    <%= f.check_box :highlight_nobr %>
  </fieldset>

  <%= f.primary t('.update') %>
  <%= link_to t('devise.shared.links.back'), :back, class: 'btn btn-secondary' %>
<% end %>

<h3 class="mt-5"><%= t('.cancel_my_account') %></h3>

<p><%= t('.unhappy') %> <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: 'btn btn-danger' %>
