
<%= bootstrap_form_for @rower, url:
  @rower.persisted? ? internal_rower_url(@regatta, @rower) : internal_rowers_url(@regatta) do |f| %>
  <%= hidden_field_tag :referrer, params[:referrer] %>

  <div class="row">
    <div class="col-md-4">
      <%= f.text_field :first_name, required: true %>
      <%= f.text_field :last_name, required: true %>
      <%= f.number_field :year_of_birth %>
    </div>

    <div class="col-md-4">
      <%= f.text_field :external_id %>
    </div>

    <div class="col-md-4">
      <dialog-opener move-out="primary" local-reload id="dialog-opener-club">
        <%= content_tag 'find-reference', href: internal_addresses_url(@regatta, only_role: "club"),
                        'value-field': 'id', 'label-field': 'name',
                        'initial-label': f.object.club&.name do %>
            <%= f.text_field :club_id,
                             append: (can?(:create, Address) ? link_to("+", new_internal_address_url(@regatta, address: {is_club: 1}, referrer: current_url), class: "btn btn-secondary") : nil) %>
        <% end %>
      </dialog-opener>
      <%= f.text_field :club_name %>
    </div>
  </div>

  <%= f.primary %>
  <%= link_to "Abbrechen", back_or_default, class: 'btn btn-secondary' %>
<% end %>