<h1>
  <% if params[:query].blank? %>
    Alle Ruderer
  <% else %>
    Ruderer für <%= params[:query].inspect %>
  <% end %>
</h1>

<div class="row">
  <div class="col-md-8 col-lg-9">
    <%= pagi = paginate(@rowers, theme: 'bootstrap-5') %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= Rower.human_attribute_name(:first_name) %></th>
        <th><%= Rower.human_attribute_name(:last_name) %></th>
        <th><%= Rower.human_attribute_name(:year_of_birth) %></th>
        <th><%= Rower.human_attribute_name(:club) %></th>
        <th><%= Rower.human_attribute_name(:external_id) %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @rowers.each do |rower| %>
        <tr id="<%= rower.to_anchor %>">
          <td><%= link_to rower.first_name, internal_rower_path(@regatta, rower, referrer: current_url_with_anchor(rower)) %></td>
          <td><%= link_to rower.last_name, internal_rower_path(@regatta, rower, referrer: current_url_with_anchor(rower)) %></td>
          <td><%= rower.year_of_birth %></td>
          <td><%= rower.club && link_to(rower.club.name, internal_address_url(@regatta, rower.club, referrer: current_url_with_anchor(rower))) || rower.club_name %></td>
          <td><%= rower.external_id %></td>
          <td class="text-nowrap">
            <%= link_to(t('helpers.actions.edit_icon'), edit_internal_rower_url(@regatta, rower, referrer: current_url, referrer: current_url_with_anchor(rower)),
                        class: 'btn btn-outline-primary btn-sm',
                        title: t('helpers.actions.edit')) if can?(:edit, rower) %>
            <%= button_to(t('helpers.actions.delete_icon'), internal_rower_url(@regatta, rower, referrer: current_url, referrer: current_url),
                          method: :delete, data: { confirm: "Sicher?"},
                          class: 'btn btn-outline-danger btn-sm',
                          title: t('helpers.actions.delete')) if can?(:delete, rower) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= pagi %>
  </div>
  <div class="col-md-4 col-lg-3">
    <%= bootstrap_form_with url: internal_rowers_url(@regatta), method: :get do |f| %>
      <%= f.text_field :query, label: "Suchen nach", value: params[:query] %>
      <%= f.check_box :only_this_regatta, label: "Startet bei dieser Regatta", checked: params[:only_this_regatta] == '1' %>
      <%= f.check_box :only_with_encoding_problems, label: "Nur mit Umlaut-Problemen", checked: params[:only_with_encoding_problems] == '1' %>
      <%= f.submit 'Filtern', class: 'btn btn-secondary d-block w-100' %>
    <% end %>

    <hr>

    <%= link_to t('helpers.titles.new', model: Rower.model_name.human), new_internal_rower_path(@regatta), class: 'btn btn-secondary d-block my-1' %>
  </div>
</div>