<h1><%= t('helpers.titles.show', model: Rower.model_name.human, label: @rower.name) %></h1>

<div class="row">
  <div class="col-md-8 col-lg-9">
    <div class="row">
      <dl class="col">
        <%= dl_entry @rower, :first_name %>
        <%= dl_entry @rower, :last_name %>
        <%= dl_entry @rower, :year_of_birth %>
      </dl>
      <dl class="col">
        <%= dl_entry @rower, :external_id %>
        <%= dl_entry(@rower, :club) { |c| c.present? ? link_to(c.name, internal_address_path(@regatta, c)) : @rower.club_name.presence } %>
      </dl>
      <div class="col">
        <% if @rower.weights.any? %>
          <% @rower.weights.each do |w| %>
            <% w %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-lg-3">
    <%= link_to t('helpers.titles.edit', model: Rower.model_name.human), edit_internal_rower_path(@regatta, @rower, referrer: current_url), class: 'btn btn-secondary d-block my-1' if can?(:edit, @rower) %>
    <%= button_to("Löschen", internal_rower_url(@regatta, @rower, referrer: params[:referrer]), method: :delete, data: { confirm: "Sicher?"},
                  class: 'btn btn-danger d-block w-100', form_class: 'd-block my-1') if can?(:delete, @rower) %>

    <% if params[:referrer] %>
      <hr>
      <%= link_to "Zurück", back_or_default, class: 'btn btn-secondary d-block my-1' %>
    <% end %>
  </div>
</div>

<% @rower.participants.preload(:regatta, :team, :event).
  group_by { |r| r.regatta == @regatta ? 1 : 2 }.sort.each do |this_regatta, ps| %>
  <h4><% if this_regatta == 1 %>
      Teilnahmen an dieser Regatta
    <% else %>
      Andere Regatten
    <% end %>
  </h4>
  <table class="table table-striped">
    <thead>
    <tr>
      <% if this_regatta != 1 %>
        <th><%= Regatta.model_name.human %></th>
      <% end %>
      <th><%= Event.model_name.human %></th>
      <th><%= Participant.human_attribute_name(:number) %></th>
      <th><%= Participant.human_attribute_name(:team) %></th>
    </tr>
    </thead>
    <% ps.each do |participant| %>
      <tr>
        <% if this_regatta == 1 %>
          <td><%= link_to participant.event.label, internal_participants_url(@regatta, event_number: participant.event.number, anchor: participant.to_anchor) %></td>
          <td><%= link_to participant.number.presence || '-', internal_participant_url(@regatta, participant) %></td>
          <td><%= link_to highlight_nobr(participant.team_name), internal_team_path(@regatta, participant.team) %></td>
        <% else %>
          <td><%= participant.regatta.name %></td>
          <td><%= link_to participant.event.label, event_participants_url(participant.regatta, participant.event.number) %></td>
          <td><%= participant.number || '-' %></td>
          <td><%= participant.team_name %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
