<h1>Verfügbare Ansichten</h1>
<ul class="list-group">
  <li class="list-group-item">
    <%= link_to 'Aktueller Start', current_start_path %>
    (<%= link_to 'Nur Finale', current_start_path(type_short: 'F') %> |
    <%= link_to 'Testmodus', current_start_path(testmode: '1') %>)
  </li>
  <li class="list-group-item">
    <%= link_to 'Letztes Endergebnis', latest_race_path %>
    (<%= link_to 'Nur Finale', latest_race_path(type_short: 'F') %> |
    <% @measuring_points.each do |mp| %>
      <%= link_to mp.name, latest_race_path(measuring_point_number: mp.number) %> |
    <% end %>
    <%= link_to 'Testmodus', latest_race_path(testmode: '1') %>)
  </li>
  <li class="list-group-item">
    <%= link_to 'Letzte Gewinner', latest_winner_path %>
    (<%= link_to 'Nur Finale', latest_winner_path(type_short: 'F') %> |
    <%= link_to 'Testmodus', latest_winner_path(testmode: '1') %>)
  </li>
</ul>

<% if can?(:update, :tv_settings) %>
  <h2 class="mt-5">Einstellungen anpassen</h2>
  <%= bootstrap_form_tag url: tv_url(@regatta), method: :put do |f| %>
    <% LatestRacesController::TV_PARAMETER_KEYS.keys.each do |param_name| %>
      <%= f.text_field param_name, value: instance_variable_get("@#{param_name}")  %>
    <% end %>
    <%= f.primary %>
  <% end %>
<% end %>