<h1>Letzte Rennen</h1>

<table class="table">
<% @races.each do |race| %>
  <tr>
  <td>
    <%= link_to event_results_path(@regatta, race.event, anchor: race) do %>
      <%= race.event.try(:number) %> - <%= race.event.try(:name_short) %>
    <% end %>
  </td>
  <td><%= race.name %></td>
  <td><%= l race.started_at %></td>
  </tr>
<% end %>
</table>
