<% if @race && @result && @event  %>
  <div class="sticky-top text-white px-1" style="background: rgba(0, 0, 0, 0.3)">
    <strong><%= @race.event.try(:name) %>: <%= @race.name %></strong>

    <p>Gestartet um <%= l(@race.started_at, format: '%H:%M:%S') %></p>
  </div>

  <div class="text-white fixed-bottom px-1" style="background: rgba(0, 0, 0, 0.3); margin-top: 10px;">
    <div class="row">
      <div class="col-auto mr-auto">
        Bugnr. <%= @result.participant.try(:number) %> - <%= @result.participant.try(:team).try(:country) %>
      </div>
      <div class="col-auto">
        <%= @result.time_for(@event.finish_measuring_point).try(:time) %>
        bei <%= @event.distance %>m
      </div>
    </div>
    <div class="text-truncate"><%= @result.participant.try(:team).try(:name) %></div>
    <div class="text-truncate"><%= @result.participant.rower_names %></div>
  </div>
<% end %>

<style>
  body {
    background-color: lime;
    color: black;
  //font-smooth: never;
  //-webkit-font-smoothing: none;
    font-weight: bold;
    font-size: 40px;
  }
  h1 { font-weight: bold }
</style>

<script>
  setTimeout(reloadWithTurbolinks, 5000)
</script>
