<h1>Intern - <%= @regatta&.name %></h1>

<auto-grid style="--min-width: 20em">

  <div class="card">
    <h5 class="card-header">Zeitmessung</h5>
    <div class="card-body">
      <ul>
        <li><%= link_to "Messungen", measurements_url(@regatta) %></li>
        <li><%= link_to "Mess-Sitzungen", measuring_sessions_url(@regatta) %></li>
      </ul>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Öffentliche Links</h5>
    <div class="card-body">
      <ul>
        <li><%= link_to "Regatta-Übersicht", regatta_url(@regatta) %></li>
        <li><%= link_to "Sprecher-Dashboard", announcer_url(@regatta) %></li>
        <li><%= link_to "TV-Overlays", tv_url(@regatta) %></li>
        <li><%= link_to "DRV Ergebnis-XML", results_url(@regatta, format: :xml) %></li>
      </ul>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Administration</h5>
    <div class="card-body">
      <ul>
        <li><%= link_to("Benutzerverwaltung", internal_users_url) if can?(:show, User) %></li>
        <li><%= link_to("Obleute", internal_addresses_url(@regatta)) if can?(:index, Address) %></li>
      </ul>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Mein Account</h5>
    <div class="card-body">
      <div class="d-grid gap-2">
        <%= link_to "Profil bearbeiten", edit_user_registration_url, class: 'btn btn-secondary' %>
        <%= link_to "Ausloggen", destroy_user_session_url, method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>

</auto-grid>