<h1>Intern - <%= @regatta&.name %></h1>

<auto-grid style="--min-width: 20em">

  <% if can?(:index, MeasurementSet) || can?(:index, MeasuringSession) %>
    <div class="card">
      <h5 class="card-header">Zeitmessung</h5>
      <div class="card-body">
        <ul>
          <% if can?(:index, MeasurementSet) %>
            <li><%= link_to MeasurementSet.model_name.human(count: 2), measurements_url(@regatta) %></li>
          <% end %>
          <% if can?(:index, MeasuringSession) %>
            <li><%= link_to MeasuringSession.model_name.human(count: 2), measuring_sessions_url(@regatta) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if can?(:edit, Weight) %>
    <div class="card">
      <h5 class="card-header">Wiegen</h5>
      <div class="card-body">
        <ul>
          <li><%= link_to("Verwiegen", internal_weighings_url(@regatta, date: Date.today)) %></li>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="card">
    <h5 class="card-header">Öffentliche Links</h5>
    <div class="card-body">
      <ul>
        <li><%= link_to "Sprecher-Dashboard", announcer_url(@regatta) %></li>
        <li><%= link_to "TV-Overlays", tv_url(@regatta) %></li>
        <li><%= link_to "DRV Ergebnis-XML", results_url(@regatta, format: :xml) %></li>
      </ul>
    </div>
  </div>

  <% if can?(:index, Team) || can?(:index, Participant) %>

    <div class="card">
      <h5 class="card-header">Meldewesen</h5>
      <div class="card-body">
        <ul>
          <% if can?(:index, Participant) %>
            <li><%= link_to(Participant.model_name.human(count: 2), internal_participants_url(@regatta)) %></li>
          <% end %>

          <% if can?(:index, Team) %>
            <li><%= link_to(Team.model_name.human(count: 2), internal_teams_path(@regatta)) %></li>
          <% end %>

          <% if can?(:index, Rower) %>
            <li><%= link_to(Rower.model_name.human(count: 2), internal_rowers_url(@regatta)) %></li>
          <% end %>

          <% if can?(:index, Address) %>
            <li><%= link_to(Address.model_name.human(count: 2), internal_addresses_url(@regatta)) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if can?(:index, Event) || can?(:index, Race) %>
    <div class="card">
      <h5 class="card-header">Regatta-Verwaltung</h5>
      <div class="card-body">
        <ul>
          <% if can?(:index, Event) %>
            <li><%= link_to(Event.model_name.human(count: 2), internal_events_url(@regatta)) %></li>
          <% end %>

          <% if can?(:index, Race) %>
            <li><%= link_to(Race.model_name.human(count: 2), internal_races_url(@regatta)) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if can?(:index, Regatta) || can?(:show, User) %>
    <div class="card">
      <h5 class="card-header">Administration</h5>
      <div class="card-body">
        <ul>
          <% if can?(:index, Regatta) %>
            <li><%= link_to(Regatta.model_name.human(count: 2), internal_regattas_url(@regatta)) %></li>
          <% end %>

          <% if can?(:show, User) %>
            <li><%= link_to(User.model_name.human(count: 2), internal_users_url) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="card">
    <h5 class="card-header">Mein Account</h5>
    <div class="card-body">
      <div class="d-grid gap-2">
        <%= link_to "Profil bearbeiten", edit_user_registration_url, class: 'btn btn-secondary' %>
        <%= link_to "Ausloggen", destroy_user_session_url, method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>

</auto-grid>