<h1><%= t('helpers.titles.show', model: Services::TimeSchedule::Block.model_name.human, label: @block.title) %></h1>

<%= bootstrap_form_with url: internal_time_schedule_path(@regatta, @block.id), method: :put do |f| %>
  <%
    operations = {
      insert_break: 'Pause einf체gen',
      shift_block: 'Block verschieben',
    }
    if @block.race_interval
      operations = { adjust_interval: 'Rennabstand ver채ndern' }.merge(operations)
    end
  %>

  <% operations.each do |key, label| %>
    <div class="card mb-4 operation-panel" data-operation-key="<%= key %>">
      <div class="card-header d-flex align-items-center">
        <%= f.radio_button :operation, key, id: "operation_#{key}", label: label, checked: key == :adjust_interval %>
      </div>
      <div class="card-body">
        <enabled-if selector="#operation_<%= key %>" value="<%= key %>">
          <% case key
             when :shift_block %>
            <%= f.datetime_field :first_start, value: @block.first_race_start, label: "Neuer erster Start" %>
          <% when :adjust_interval %>
            <% if @block.race_interval %>
              <%= f.number_field :race_interval, value: (@block.race_interval / 60).to_i, min: 1, label: "Neuer Rennabstand", append: "Minuten" %>
            <% end %>
          <% when :insert_break %>
            <%= f.time_field :break_start, value: @block.first_race_start.strftime("%H:%M"), label: "Beginn der Pause" %>
            <%= f.number_field :break_length, value: 30, min: 1, label: "L채nge der Pause", append: "Minuten" %>
          <% end %>
        </enabled-if>
      </div>
    </div>
  <% end %>

  <%= f.primary "Ausf체hren" %>
  <%= link_to "Abbrechen", back_or_default, class: 'btn btn-secondary' %>
<% end %>

<h2 class="mt-5">Details</h2>

<%= render 'regatta/time_schedule', races: @block.all_races, start_at: @block.first_race_start.to_date, end_at: @block.first_race_start.to_date %>
