<h1><%= t('helpers.titles.show', model: Services::TimeSchedule::Block.model_name.human, label: @block.title) %></h1>

<div class="row mt-4">
  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-header">
        <h2 class="h5 mb-0"><%= Services::TimeSchedule::Block.model_name.human %> verschieben</h2>
      </div>
      <div class="card-body">
        <%= bootstrap_form_with url: internal_time_schedule_first_start_path, method: :put do |f| %>
          <%= f.datetime_field :first_start, value: @block.first_race_start, label: "Neuer erster Start" %>
          <%= f.primary "Verschieben" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-header">
        <h2 class="h5 mb-0">Pause einfügen</h2>
      </div>
      <div class="card-body">
        <%= bootstrap_form_with url: internal_time_schedule_break_path, method: :put do |f| %>
          <%= f.time_field :break_start, value: @block.first_race_start, label: "Beginn der Pause" %>
          <%= f.number_field :break_length, value: 30, label: "Länge der Pause", append: "Minuten" %>
          <%= f.primary "Einfügen" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h2>Details</h2>

<%= render 'regatta/time_schedule', races: @block.all_races, start_at: @block.first_race_start.to_date, end_at: @block.first_race_start.to_date %>
