<h1><%= @regatta&.name %> - Startende Ruderer</h1>

<table class="table mt-5">
  <thead>
  <tr>
    <th>Name</th>
    <% if params[:hide_age_category] != "1" %>
      <th><abbr title="Leistungsklasse">L.Kl.</abbr></th>
    <% end %>
    <% if params[:hide_club] != "1" %>
      <th>Verein</th>
    <% end %>
    <th>Rennen</th>
  </tr>
  </thead>
  <tbody>
  <% @rowers.each do |rower, participations| %>
    <tr>
      <td>
        <%= rower.name(first_name_last_name: false, no_nobr: true) %>
      </td>
      <% if params[:hide_age_category] != "1" %>
        <td>
          <%= @regatta.age_category(rower.year_of_birth.presence&.to_i) %>
        </td>
      <% end %>
      <% if params[:hide_club] != "1" %>
        <td>
          <%= rower.club&.name %>
        </td>
      <% end %>
      <td><%= safe_join(participations.map do |p|
        content_tag :span, class: 'text-nowrap' do
          safe_join([
                      content_tag(:span, p.event.number),
                      params[:hide_event_shortname] != "1" ? content_tag(:em, "(#{p.event.name_short})") : ""
                    ], " ")
        end
      end.sort, ", ") %></td>
    </tr>
  <% end %>
  </tbody>
</table>