<h1>Rennen für <%= @regatta.name %></h1>

<div class="row">
  <div class="col-md-8 col-lg-9">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= Event.human_attribute_name(:number) %></th>
        <th><%= Event.human_attribute_name(:name_short) %></th>
        <th><%= Event.human_attribute_name(:name_de) %></th>
        <th><%= Event.human_attribute_name(:distance) %></th>
        <th><%= Event.human_attribute_name(:is_lightweight) %> / <%= Event.human_attribute_name(:has_cox) %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @events.each do |event| %>
        <tr>
          <td id="<%= event.to_anchor %>"><%= link_to event.number, internal_event_url(@regatta, event) %></td>
          <td><%= link_to event.name_short, internal_event_url(@regatta, event)  %></td>
          <td><%= event.name %></td>
          <td><%= event.distance %>m</td>
          <td>
            <%= event.is_lightweight? ? '✔︎︎' : '✘' %> /
            <%= event.has_cox? ? '✔︎︎' : '✘' %>
          </td>
          <td class="text-nowrap">
            <%= link_to(t('helpers.actions.edit_icon'), edit_internal_event_url(@regatta, event),
                        class: 'btn btn-outline-primary btn-sm',
                        title: t('helpers.actions.edit')) if can?(:edit, event) %>
            <%= link_to(t('helpers.actions.copy_icon'), new_internal_event_url(@regatta, copy_event_number: event.number),
                        class: 'btn btn-outline-secondary btn-sm',
                        title: t('helpers.actions.copy')) if can?(:create, Event) %>
            <%= button_to(t('helpers.actions.delete_icon'), internal_event_url(@regatta, event),
                          method: :delete, data: { confirm: "Sicher?"},
                          class: 'btn btn-outline-danger btn-sm',
                          title: t('helpers.actions.delete')) if can?(:delete, event) %>
          </td>
          <td class="text-nowrap">
            <%= link_to "Meldungen", internal_participants_url(@regatta, event_number: event.number),
                        class: 'btn btn-outline-secondary btn-sm' %>
            <%= link_to "Starts", internal_event_starts_path(@regatta, event),
                        class: 'btn btn-outline-secondary btn-sm' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4 col-lg-3">
    <%= link_to t('helpers.titles.new', model: Event.model_name.human), new_internal_event_path(@regatta), class: 'btn btn-secondary d-block my-1' %>
  </div>
</div>