<h1>Rennen für <%= @regatta.name %></h1>

<div class="row">
  <div class="col-md-8 col-lg-9">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= Event.human_attribute_name(:number) %></th>
        <th><%= Event.human_attribute_name(:name_short) %></th>
        <th><%= Event.human_attribute_name(:name_de) %></th>
        <th><%= Event.human_attribute_name(:is_lightweight) %> / <%= Event.human_attribute_name(:has_cox) %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @events.each do |event| %>
        <tr>
          <td id="event_<%= event.id %>"><%= event.number %></td>
          <td><%= event.name_short %></td>
          <td><%= event.name %></td>
          <td><%= event.distance %>m</td>
          <td>
            <%= event.is_lightweight? ? '✔︎︎' : '✘' %> /
            <%= event.has_cox? ? '✔︎︎' : '✘' %>
          </td>
          <td>
            <%= link_to "Bearbeiten", edit_internal_event_url(@regatta, event), class: 'btn btn-secondary' if can?(:edit, event) %>
            <%= button_to("Löschen", internal_event_url(@regatta, event), method: :delete, data: { confirm: "Sicher?"}, class: 'btn btn-danger') if can?(:delete, event) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4 col-lg-3">
    <%= link_to 'Neues Rennen', new_internal_event_path(@regatta), class: 'btn btn-secondary d-block my-1' %>
  </div>
</div>