<h1><%= t('helpers.titles.show', model: Event.model_name.human, label: @event.label) %></h1>

<div class="row">
  <div class="col-md-8 col-lg-9">
    <div class="row">
      <dl class="col-md-4">
        <%= dl_entry(@event, :name_de) %>
        <%= dl_entry(@event, :name_en) %>
        <dt>Typ</dt>
        <dd>
          <%= @event.rower_count %>
          <%= @event.is_lightweight ? 'Leichtgewichte' : 'Ruderer' %>
          <%= @event.has_cox? ? 'mit Stm.' : '' %>
        </dd>
        <%= dl_entry(@event, :divergent_regatta_name) %>
      </dl>
      <dl class="col-md-4">
        <%= dl_entry(@event, :distance, unit: 'm') %>
        <dt>Details</dt>
        <dd>
          <%= link_to "#{@event.participants.count} Meldungen", internal_participants_url(event_number: @event.number, referrer: current_url) %><br>
          <%= link_to "#{@event.starts.count} Starts", internal_event_starts_path(@regatta, @event, referrer: current_url) %><br>
          <%= link_to "#{@event.results.count} Ergebnisse", "#" %>
        </dd>
      </dl>
      <dl class="col-md-4">
        <%= dl_entry(@event, :entry_fee, unit: @regatta.currency ) %>
        <% weights = {}.
          merge(@event.is_lightweight? ? {maximum_average_rower_weight: 'Mittel', maximum_rower_weight: 'Einzel'} : {}).
          merge(@event.has_cox? ? {minimum_cox_weight: 'Stm.'} : {})
        %>
        <% if weights.any? %>
          <dt>Maximalgewichte (<%= weights.values.join(' / ') %>)</dt>
          <dd>
            <%= weights.keys.map { |weight_attr| @event.send(weight_attr) && "#{number_with_precision(@event.send(weight_attr)) }&thinsp;kg" || '-' }.join(' / ').html_safe %>
          </dd>
        <% end %>
        <%= dl_entry(@event, :additional_text) %>
      </dl>
    </div>
  </div>
  <div class="col-md-4 col-lg-3">
    <%= link_to t('helpers.titles.edit', model: Event.model_name.human), edit_internal_event_path(@regatta, @event, referrer: current_url), class: 'btn btn-secondary d-block my-1' if can?(:edit, @event) %>
    <%= link_to t('helpers.titles.copy', model: Event.model_name.human), new_internal_event_url(@regatta, copy_event_number: @event.number, referrer: current_url), class: 'btn btn-secondary d-block my-1' if can?(:create, Event) %>
    <%= button_to("Löschen", internal_event_url(@regatta, @event, referrer: params[:referrer]), method: :delete, data: { confirm: "Sicher?"},
                  class: 'btn btn-danger d-block w-100', form_class: 'd-block my-1') if can?(:delete, @event) %>
    <hr>
    <%= link_to t('helpers.titles.new', model: Race.model_name.human), new_internal_race_path(@regatta, race: {event_number: @event.number}, referrer: current_url), class: 'btn btn-secondary d-block my-1' if can?(:create, Race) %>

    <% if params[:referrer] %>
      <hr>
      <%= link_to "Zurück", back_or_default,
                  class: 'btn btn-secondary d-block my-1' %>
    <% end %>
  </div>
</div>

<hr>

<h2>Läufe</h2>
<%= render 'internal/races/list', races: @event.races, referrer: current_url %>