<h1><%= t('helpers.titles.show', model: Team.model_name.human, label: @team.name) %></h1>

<div class="row">
  <div class="col-md-8 col-lg-9">
    <div class="row">
      <dl class="col">
        <%= dl_entry @team, :name %>
        <%= dl_entry(@team, :country)  %>
        <%= dl_entry(@team, :city) %>
      </dl>
      <dl class="col">
        <%= dl_entry(@team, :representative) { |r| link_to(r.name, internal_address_path(@regatta, r, referrer: current_url)) } %>
      </dl>
      <dl class="col">
        <%= dl_entry(@team, :no_entry_fee?) %>
        <%= dl_entry(@team, :entry_fee_discount, precision: 2, unit: @regatta.currency) %>
      </dl>
    </div>
  </div>
  <div class="col-md-4 col-lg-3">
    <%= link_to t('helpers.titles.edit', model: Team.model_name.human), edit_internal_team_path(@regatta, @team, referrer: current_url), class: 'btn btn-secondary d-block my-1' if can?(:edit, @team) %>
    <%= link_to t('helpers.titles.copy', model: Team.model_name.human), new_internal_team_url(@regatta, copy_team: @team.team_id, referrer: current_url), class: 'btn btn-secondary d-block my-1' if can?(:create, Team) %>
    <%= button_to("Löschen", internal_team_url(@regatta, @team, referrer: params[:referrer]), method: :delete, data: { confirm: "Sicher?"},
                  class: 'btn btn-danger d-block w-100', form_class: 'd-block my-1') if can?(:delete, @team) %>

    <% if params[:referrer] %>
      <hr>
      <%= link_to "Zurück", back_or_default, class: 'btn btn-secondary d-block my-1' %>
    <% end %>
  </div>
</div>

<h3>Meldungen</h3>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= Event.model_name.human %></th>
    <th><%= Participant.human_attribute_name(:number) %></th>
    <th><%= Rower.model_name.human(count: 2) %></th>
  </tr>
  </thead>
  <tbody>
  <% @team.participants.preload(:event, *Participant::ALL_ROWERS).each do |participant| %>
    <tr>
      <td><%= link_to participant.event.label, internal_participants_url(@regatta, event_number: participant.event.number) %></td>
      <td><%= link_to participant.number || '-', internal_participant_url(@regatta, participant) %></td>
      <td><%= participant.rower_names(rower_link: -> (r, n) { link_to highlight_nobr(n), internal_rower_path(@regatta, r) }) %></td>
    </tr>
  <% end %>
  </tbody>
</table>