<%= bootstrap_form_for @address,
                       url: @address.persisted? ? internal_address_url(@regatta, @address) : internal_addresses_url(@regatta)do |f| %>
  <%= hidden_field_tag :referrer, params[:referrer] %>

  <div class="row">
    <div class="col">
      <%= f.text_field :first_name, autofocus: true %>
      <%= f.text_field :last_name %>
      <%= f.text_field :title %>
      <%= f.text_field :name_suffix %>
      <%= f.check_box :is_female %>
      <%= f.text_field :external_id %>
    </div>

    <div class="col">
      <%= f.email_field :email %>

      <%= f.text_field :telefone_private %>
      <%= f.text_field :telefone_business %>
      <%= f.text_field :telefone_mobile %>
      <%= f.text_field :telefone_fax %>
    </div>

    <div class="col">
      <%= f.text_field :street %>
      <%= f.text_field :zipcode %>
      <%= f.text_field :city %>
      <%= f.text_field :country %>
    </div>

    <div class="col">
      <%= f.check_box :is_representative %>
      <%= f.check_box :is_club %>
      <%= f.check_box :is_referee %>
      <%= f.check_box :is_staff %>
      <%= f.text_field :public_private_id %>
    </div>
  </div>

  <%= f.primary %>
  <%= link_to "Abbrechen", back_or_default, class: 'btn btn-secondary' %>
<% end %>
