<script type="module" src="<%= URI.join(@measuring_point.finish_cam_base_url, "js/measuring/index.js") %>"></script>

<div class="d-flex justify-content-between">
  <%= render 'header' %>
</div>

<%= bootstrap_form_with model: @measuring.measurement_set,
                        url: measurement_path(@regatta, race_number: @race.number, event_number: @race.event.number),
                        method: :post, class: 'finish_cam_form' do |f| %>
  <% if @measuring_session.present? %>
    <%= hidden_field_tag :measuring_session_id, @measuring_session&.to_param %>
  <% end %>
  <%= hidden_field_tag :measuring_point_number, params[:measuring_point_number] %>

  <div class="finish_cam_container">
    <perp-fc-browser start-time="<%= @race.started_at&.iso8601(4) %>"
                     expected-at="<%= @race.started_at && l(@race.started_at + 6.minutes, format: "%H:%M:%S") %>"
                     href="<%= URI.join(@measuring_point.finish_cam_base_url, "data") %>">
      <% (1..8).to_a.reverse.each do |lane| %>
        <label>
          <% participant = @measuring.participant_for_lane(lane) %>
          <%= participant&.number || "<B.#{lane}>" %>
          <%= text_field_tag "participant_times[#{participant&.participant_id || -lane}]",
                             @measurements[participant || -lane],
                             class: "form-control" %>
        </label>
      <% end %>
      <label slot="metadata">
        Metadata
        <%= f.text_field_without_bootstrap :finish_cam_metadata, class: "form-control" %>
      </label>
    </perp-fc-browser>
  </div>

  <div>
    <%= render 'referees', f: f %>

    <%= f.submit "Fertig" %>
  </div>
  </div>

<% end %>


<style>
  html, body {
    height: 100%;
  }
  .main,  .finish_cam_form {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .finish_cam_form {
    margin-bottom: 5rem;
  }
  .finish_cam_container {
    flex: 1 1 auto;
    min-height: 300px;
    position: relative;
  }
</style>

<script>
  cancelAutoreload();
</script>
