<h1>Messungen</h1>

<p>
  Sortieren nach:
  <%= content_tag(params[:sort_by] == "start_time" ? :span : :a, "(Soll-)Startzeit", href: measurements_url(@regatta, filter: params[:filter], sort_by: "start_time")) %> |
  <%= content_tag(params[:sort_by] != "start_time" ? :span : :a, "Rennnummer", href: measurements_url(@regatta, filter: params[:filter])) %>
</p>

<p>
  Filtern:
  <%= content_tag(params[:filter] == "today" ? :span : :a, "Nur Heute", href: measurements_url(@regatta, filter: "today", sort_by: params[:sort_by])) %> |
  <%= content_tag(params[:filter] == "nearby" ? :span : :a, "Nur aktuelle", href: measurements_url(@regatta, filter: "nearby", sort_by: params[:sort_by])) %> |
  <%= content_tag(!["today", "nearby"].include?(params[:filter]) ? :span : :a, "Alle", href: measurements_url(@regatta, sort_by: params[:sort_by])) %>
</p>

<div class="row">
  <div class="col-md-8 col-lg-9">
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <% @measuring_points.each do |mp| %>
          <th><%= mp.name %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @races.each do |race| %>
        <tr id="race_<%= race.event.number %>_<%= race.number %>">
          <td><%= race.event.number %> - <%= race.name %></td>
          <td><%= race.started_at && l(race.started_at, format: '%a, %H:%M:%S') %></td>
          <% @measuring_points.each do |mp| %>
            <td>
              <% if race.event.measuring_point_type(mp) %>
                <% ms = @measurement_sets.find { |ms| ms.race == race && ms.measuring_point == mp } %>
                <% url = measurement_path(@regatta, race_number: race.number, event_number: race.event.number, measuring_point_number: mp.number) %>
                <div class="btn-group">
                  <%= link_to ms ? "Edit" : "Neu", url, class: "btn #{ms && !ms.correct? ? 'btn-outline-warning' : 'btn-outline-secondary'}" %>
                  <% if  mp.finish_cam_base_url.present? %>
                    <%= link_to("🎥", finish_cam_measurement_path(@regatta, race_number: race.number, event_number: race.event.number, measuring_point_number: mp.number), class: 'btn btn-outline-primary') %>
                  <% end %>
                </div>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4 col-lg-3">
    <%= link_to 'Übersicht der Mess-Sitzungen', measuring_sessions_path(@regatta), class: 'btn btn-secondary d-block my-1' %>
  </div>
</div>

<script>
  autoreloadAfter(10000)
</script>
