<h1>Messungen</h1>
<div class="row">
  <div class="col-md-8 col-lg-9">
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <% @measuring_points.each do |mp| %>
          <th><%= mp.name %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @races.each do |race| %>
        <tr id="race_<%= race.event.number %>_<%= race.number %>">
          <td><%= race.event.number %> - <%= race.name %></td>
          <td><%= race.started_at && l(race.started_at, format: '%a, %H:%M:%S') %></td>
          <% @measuring_points.each do |mp| %>
            <td>
              <% if race.event.measuring_point_type(mp) %>
                <% ms = @measurement_sets.find { |ms| ms.race == race && ms.measuring_point == mp } %>
                <% url = measurement_path(@regatta, race_number: race.number, event_number: race.event.number, measuring_point_number: mp.number) %>
                <% if ms %>
                  <%= link_to "Edit", url, class: 'btn btn-secondary' %>
                <% else %>
                  <%= link_to "Neu", url %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4 col-lg-3">
    <%= link_to 'Übersicht der Mess-Sitzungen', measuring_sessions_path, class: 'btn btn-secondary d-block my-1' %>
  </div>
</div>
