<%= stylesheet_link_tag 'measurements' %>

<h4>
  Rennen <%= @race.event.number %> - <%= @race.name %> bei <%= @measuring_point.name %><br>
  <small>Gestartet um: <%= @race.started_at && l(@race.started_at) || '-' %></small>
</h4>


<%= form_tag measurements_path(@regatta, race_number: @race.number, event_number: @race.event.number) do %>
  <%= hidden_field_tag :measuring_session_id, @measuring_session&.to_param %>

  <div class="participants_and_times">
    <div>
      <h6>Reihenfolge</h6>
      <div id="participants" class="item_list">
        <% @measurements.keys.each do |p| %>
          <%= render 'participant', participant: p, measuring: @measuring %>
        <% end %>
      </div>
    </div>

    <div>
      <h6>Zeiten</h6>
      <div id="times" class="item_list">
        <% @measurements.values.each do |time| %>
            <%= hidden_field_tag 'times[]', time %>
        <% end %>
      </div>
    </div>
  </div>

  <%= submit_tag "Fertig", class: 'btn btn-success' %>
  <%= link_to "Zeit Stoppen", '#', id: 'stop_time', class: 'btn btn-primary' %>

<% end %>

<h6 class="mt-1">Verfügbare Boote</h6>
<div id="available_participants" class="item_list">
  <% @measuring.other_active_participants.each do |p| %>
    <%= render 'participant', participant: p, measuring: @measuring %>
  <% end %>
  <% if @measuring.other_participants.any? %>
    <h3 class="item_list__item">Andere Teilnehmer</h3>
    <% @measuring.other_participants.each do |p| %>
      <%= render 'participant', participant: p, measuring: @measuring %>
    <% end %>
  <% end %>
</div>


<% if @other_races.present? %>
  <h5 class="mt-3">Anderen Lauf auswählen</h5>
  <ul>
    <% @other_races.each do |r| %>
      <li><%#= link_to "#{r.event.name} - #{r.name}", measurements_path(@regatta, measuring_point_number: @measuring_point.number, event_number: r.event_number, race_number: r.number) %></li>
    <% end %>
  </ul>
<% end %>

<% if @measurements_history.present? %>
  <h6 class="mt-1">Historie</h6>
  <% @measurements_history.each do |date, data| %>
    <strong><%= date %></strong>
    <pre><%= data %></pre>
  <% end %>
<% end %>

<%= javascript_include_tag 'measurements' %>