<%= stylesheet_link_tag 'measurements' %>

<h4>Zwischenzeitmessung <%= @measuring_point.name %></h4>

<% if @race %>
  <%= form_tag do %>

    <div class="participants_and_times">
      <div>
        <h6>Reihenfolge</h6>
        <div id="participants" class="item_list">

        </div>
      </div>

      <div>
        <h6>Zeiten</h6>
        <div id="times" class="item_list">

        </div>
      </div>
    </div>

    <%= link_to "Fertig", measurements_current_race_path(@regatta), class: 'btn btn-success' %>
    <%= link_to "Zeit Stoppen", '#', id: 'stop_time', class: 'btn btn-primary' %>

  <% end %>

  <h6 class="mt-1">Verfügbare Boote</h6>
  <div id="available_participants" class="item_list">
    <% @race.event.participants.each do |p| %>
      <div class="item_list__item">
        <%= hidden_field_tag 'participants[]', p.participant_id %>
        <%= p.number %> - Bahn XX
      </div>
    <% end %>
  </div>
<% else %>
  <p>Kein Rennen aktiv</p>
  <script>
    autoreloadAfter(10000)
  </script>
<% end %>

<% if @other_races.present? %>
  <h5 class="mt-3">Anderen Lauf auswählen</h5>
  <ul>
    <% @other_races.each do |r| %>
      <li><%= link_to "#{r.event.name} - #{r.name}", measurements_path(@regatta, measuring_point_number: @measuring_point.number, event_number: r.event_number, race_number: r.number) %></li>
    <% end %>
  </ul>
<% end %>

<%= javascript_include_tag 'measurements' %>