<%= render 'header' %>
<% is_start = @race.event.measuring_point_type(@measuring_point) == :start %>

<%= bootstrap_form_with model: @measuring.measurement_set,
              url: measurement_path(@regatta, race_number: @race.number, event_number: @race.event.number),
              method: :post do |f| %>
  <% if @measuring_session.present? %>
    <%= hidden_field_tag :measuring_session_id, @measuring_session&.to_param %>
  <% end %>
  <%= hidden_field_tag :measuring_point_number, params[:measuring_point_number] %>

  <div class="participants_and_times <%= "hide_team_name" unless is_start  %>">
    <div>
      <h6>
        <% if !is_start %>
          Reihenfolge
        <% else %>
          Bahnbelegung
        <% end %>
      </h6>
      <div id="participants" class="item_list">
        <% @measurements.keys.each do |p| %>
          <%= render 'participant', participant: p, measuring: @measuring, show_cox_weight: is_start %>
        <% end %>
      </div>
    </div>

    <div>
      <h6>Zeiten</h6>
      <div id="times" class="item_list" <%= "data-edit-times" if can?(:manage, MeasurementSet) %>>
        <% @measurements.values.each do |time| %>
            <%= hidden_field_tag 'times[]', time %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render 'referees', f: f %>

  <%= f.submit "Fertig" %>
  <%= link_to "Zeit Stoppen", '#', id: 'stop_time', class: 'btn btn-primary' %>

<% end %>

<h6 class="mt-1">Verfügbare Boote</h6>
<div id="available_participants" class="item_list">
  <% @measuring.other_active_participants.each do |p| %>
    <%= render 'participant', participant: p, measuring: @measuring %>
  <% end %>
  <% if @measuring.other_participants.any? %>
    <% if @measuring.other_active_participants.any? %>
      <h3 class="item_list__item h-auto sub-header">Andere Teilnehmer</h3>
    <% end %>
    <% @measuring.other_participants.each do |p| %>
      <%= render 'participant', participant: p, measuring: @measuring %>
    <% end %>
  <% end %>
</div>

<% if @measuring_session %>
  <h6 class="mt-1">Mess-Sitzung</h6>
  <%= link_to @measuring_session.identifier, measuring_session_url(@regatta, @measuring_session) %>
  (<%= @measuring_session.device_description %>@<%= @measuring_session.measuring_point.name %> - <%= @measuring_session.active? ? 'Aktiv' : 'Nicht aktiv' %>)
<% end %>
<% if can?(:show, :measurements_history) && @measurements_history.present? %>
  <h5 class="mt-4">Historie</h5>
  <% @measurements_history.reverse_each do |date, data| %>
    <h6><%= date && l(DateTime.parse(date), format: :full) %></h6>
    <div class="d-flex justify-content-between">
    <% data.each do |k, v| %>
      <div class="border p-3 bg-light">
        <%= @measuring.find_participant(k)&.number || "TNR#{k}" %>:
        <%= v %>
      </div>
    <% end %>
    </div>
  <% end %>
<% end %>

<script>
  cancelAutoreload();
</script>
<%= javascript_include_tag 'measurements' %>