<table class="table">
  <thead>
  <tr>
    <% if local_assigns[:event].nil? %>
      <th>Rennen</th>
    <% end %>
    <th>BugNr</th>
    <th>Team</th>
    <th>Ruderer</th>
    <% if local_assigns[:event].nil? || local_assigns[:event].is_lightweight? %>
      <th>Durchschnitt</th>
    <% end %>
  </tr>
  </thead>
  <% participants.each do |participant| %>
    <tr>
      <% if local_assigns[:event].nil? %>
        <td><%= participant.event.label %></td>
      <% end %>
      <td>
        <%= participant.number %>
      </td>
      <td>
        <%= participant.team_name %></td>
      </td>
      <td>
        <div class="d-grid" style="grid-template-columns: 1fr auto; ">
          <% participant.all_rowers.each do |index, rower| %>
            <%- next unless rower -%>
            <% if (rower != @rower) &&
                ((index <= 8 && (local_assigns[:event] || participant.event).is_lightweight?) ||
                 (index == 9 && (local_assigns[:event] || participant.event).has_cox?)) %>
              <div>
                <%= link_to rower.name, internal_rower_weighings_path(@regatta, rower, @filters.merge(referrer: params[:referrer] || url_for(@filters))) %>
              </div>
              <div class="text-end">
                <% w = rower.weight_for(@date)&.weight %>
                <%= w && "#{number_with_precision(w, precision: 2)}&thinsp;kg".html_safe || "✘" %>
              </div>
            <% else %>
              <div><%= rower.name %></div>
              <div></div>
            <% end %>
          <% end %>
        </div>
      </td>
      <% if local_assigns[:event].nil? || local_assigns[:event].is_lightweight? %>
        <td class="text-end"><%= participant.average_rower_weight && "#{number_with_precision(participant.average_rower_weight, precision: 2)}&thinsp;kg".html_safe || "-" %></td>
      <% end %>
    </tr>
  <% end %>
</table>