<h1>Rennen <%= @event.label %> verwiegen</h1>

<div class="row">
  <div class="col-md-8 col-lg-9">
    <dl class="d-md-grid column-gap-3" style="grid-template-columns: auto 1fr auto 1fr">
      <% { :is_lightweight => [:maximum_rower_weight, :maximum_average_rower_weight],
           :has_cox => [:minimum_cox_weight] }.each do |guard_field, fields| %>
        <% if @event.send(guard_field) %>
          <% fields.each do |field| %>
            <dt><%= Event.human_attribute_name(field) %>:</dt>
            <dd>
              <%= @event.send(field)&.nonzero? && number_with_precision(@event.send(field), precision: 2) || '-' %>&thinsp;kg
            </dd>
          <% end %>
        <% end %>
      <% end %>
    </dl>

    <h3>Zu verwiegende Ruderer</h3>
    <%= render 'participants_table', participants: @participants, event: @event %>
  </div>

  <div class="col-md-4 col-lg-3">
    <%= link_to "Zurück zur Übersicht", internal_weighings_url(@regatta, @filters, anchor: dom_id(@event)), class: 'btn btn-primary d-block' %>
    <% if can?(:show, @event) %>
      <hr>
      <%= link_to "Details zu Rennen #{@event.number}", internal_event_url(@regatta, @event, referrer: current_url), class: 'btn btn-secondary d-block' %>
    <% end %>
  </div>
</div>