<h1>Zu verwiegende Rennen</h1>

<div class="row">
  <div class="col-md-8 col-lg-9">
    <table class="table">
      <thead>
      <tr>
        <th>Rennen</th>
        <th>Name</th>
        <th>Erster Start</th>
        <th>Verwiegen ab</th>
        <th>Verwiegen bis</th>
        <th>Ruderer verw.</th>
        <th>Stm. verw.</th>
      </tr>
      </thead>
      <tbody>
      <% @events.each do |r| %>
        <% cls = if DateTime.now > r.min_started_at - 1.hour
                   if r.is_lightweight? && r.rower_weights_count < r.rower_count
                     'text-warning'
                   elsif r.has_cox? && r.cox_weights_count < r.expected_cox_weights_count
                     'text-warning'
                   else
                     'text-success'
                   end
                 elsif DateTime.now + 2.hours < r.min_started_at
                   'text-secondary'
                 else
                   ''
                 end
        %>
        <tr id="<%= r.to_anchor %>">
          <td class="<%= cls %>"><%= link_to r.label, internal_event_weighings_url(@regatta, r, @filters) %></td>
          <td class="<%= cls %>"><%= r.name_de %></td>
          <td class="<%= cls %>"><%= r.min_started_at && l(r.min_started_at, format: :short) %></td>
          <td class="<%= cls %>"><%= r.min_started_at && l(r.min_started_at - 2.hours, format: :time) %></td>
          <td class="<%= cls %>">
            <% if r.min_started_at %>
              <% if DateTime.now + 1.hours > r.min_started_at %>
                Vorbei seit <%= distance_of_time_in_words(DateTime.now + 1.hours, r.min_started_at) %>
              <% else %>
                Noch <%= distance_of_time_in_words(DateTime.now + 1.hours, r.min_started_at) %>
              <% end %>
            <% end %>
          </td>
          <td class="<%= cls %>">
            <% if r.is_lightweight? %>
              <%= r.rower_weights_count %> / <%= r.expected_rower_weights_count %>
            <% end %>
          </td>
          <td class="<%= cls %>">
            <% if r.has_cox? %>
              <%= r.cox_weights_count %> / <%= r.expected_cox_weights_count %>
            <% end %>
          </td>
          <td class="<%= cls %>"><%= r.approved %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4 col-lg-3">
    <%= bootstrap_form_with url: internal_weighings_url(@regatta, @date), method: :get do |f| %>
      <% @filters.except(:date).each do |field, value| %>
        <%= hidden_field_tag field, value %>
      <% end %>
      <%= f.date_field :new_date, value: @date, label: "Für Datum" %>

      <%= f.check_box :only_not_weighed, label: "Nur nicht-verwogene", checked: @filters[:only_not_weighed] %>

      <%= f.number_field :event_number_from, label: "Ab Rennen", value: @filters[:event_number_from] %>
      <%= f.number_field :event_number_to, label: "Bis Rennen", value: @filters[:event_number_to] %>

      <%= f.submit 'Filtern', class: 'btn btn-secondary d-block w-100' %>
    <% end %>

    <hr>

    <% if !@date.today? %>
      <%= link_to "Heute anzeigen", internal_weighings_url(@regatta, @filters.merge(date: Date.today)), class: 'btn btn-primary d-block' %>
    <% else %>
      <%= link_to "Ersten Regattatag anzeigen", internal_weighings_url(@regatta, @filters.merge(date: @regatta.from_date)), class: 'btn btn-secondary d-block' %>
    <% end %>

    <hr>

    <%= link_to "Rudererliste anzeigen", internal_rowers_weighings_url(@regatta, @filters), class: 'btn btn-secondary d-block' %>
  </div>
</div>