<%= bootstrap_form_with url: internal_reports_results_path(@regatta), method: :get, target: "_blank" do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <%= f.number_field :event_number_from, value: params[:event_number_from], label: "Von Rennen" %>
      <%= f.number_field :event_number_to, value: params[:event_number_to], label: "Bis Rennen" %>
    </div>
    <div class="col-sm-6">
      <%= f.select :orientation, [["Querformat", "landscape"], ["Hochformat", "portrait"]], { selected: params.fetch(:orientation, "landscape"), label: "Seitenformat" } %>
      <%= render 'internal/reports/race_type_filter', f: f %>
    </div>
  </div>
  <%= f.submit "Öffnen" %>
<% end %>
