<% has_comments = local_assigns.key?(:has_comments) ? local_assigns[:has_comments] : results.any? { |r| r.comment.present? } %>
<div class="race-results mb-5 print-keep-together">
  <a class="anchor" id="<%= race.number %>"></a>
  <h3><%= local_assigns[:full_race_name] ? race.full_name(show_event_name_short: true) : race.name %></h3>
  <div class="result-row result-row__header">
    <div class="rank">Pos.</div>
    <div class="number">Bugnr</div>
    <div class="country">Land</div>
    <div class="team">Teamname</div>
    <div class="times">
      <div class="times-label">Zeiten</div>
      <% measuring_points.each do |mp| %>
        <div class="time"><%= mp.name %></div>
      <% end %>
      <% if has_comments %>
        <div class="comment"></div>
      <% end %>
    </div>
  </div>
  <% position = 1 %>
  <% last_position = position %>
  <% last_time = nil %>
  <% max_measuring_point_number = results.map { |r| r.times.map(&:measuring_point_number).max }.compact.max %>
  <% results.sort_by { |r| r.sort_time_for(max_measuring_point_number) }.each do |r| %>
    <% participant = (@event || race.event).participants.find { |p| p.participant_id == r.participant_id } %>
    <% last_mp_time = r.time_for(max_measuring_point_number)&.time %>
    <div class="result-row">
      <div class="rank">
        <% if last_mp_time && last_mp_time != last_time %>
          <%= last_position = position %>
        <% elsif last_mp_time %>
          <%= last_position %>
        <% end %>
      </div>
      <% last_time = last_mp_time; position += 1 %>
      <div class="number"><%= participant && link_to(participant.number, participant_path(@regatta, participant.event_number, participant.participant_id)) %></div>
      <div class="country"><%= participant&.team&.country %></div>
      <div class="team"><%= participant&.team_name(regatta: @regatta) %></div>
      <div class="rower-names">
        <%= participant&.rower_names(rower_link: rower_link_proc) %>
      </div>
      <div class="times">
        <% measuring_points.each do |mp| %>
          <div class="time"><%= r.time_for(mp)&.time %></div>
        <% end %>
        <% if has_comments %>
          <div class="comment"><%= r.comment %></div>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= render 'regatta/result_footer', race: race %>
</div>
