<div class="result-footer">
  <div class="started_at">
    Startzeit:
    <% if race.started_at %>
      <%= l(race.started_at) %>
    <% else %>
      <%= race.planned_for && l(race.planned_for) %> (Geplant)
    <% end %>
  </div>
  <div class="result_official">
    <%= race.state_text %>
  </div>
  <div class="referees">
    <%= Race.human_attribute_name(:referee_umpire) %>: <%= race.referee_umpire&.name(first_name_last_name: true) || '-' %>;
    <%= Race.human_attribute_name(:referee_finish_judge) %>: <%= race.referee_finish_judge&.name(first_name_last_name: true) || '-' %>
  </div>
</div>
