<% starts.group_by{ |s| s.race.planned_for.to_date }.each do |d, st| %>
  <h4><%= l(d, format: :long) %></h4>
  <ul>
    <% st.each do |start| %>
      <li>
        <%= link_to start.race.event.label, event_starts_path(@regatta, start.event, anchor: start.race) %> -
        <%= start.race.name %> -
        <strong><%= l start.race.planned_for, format: '%H:%M' %> Uhr</strong>
        <% if start.race.event.is_lightweight? || start.race.event.has_cox? %>
          - <span class="text-nowrap"><%=  start.race.event.is_lightweight? ? "Verwiegen" : "Stm. verwiegen" %> bis <strong><%= l start.race.planned_for - 1.hour, format: '%H:%M' %> Uhr</strong>
          <% if start.race.planned_for - 1.hour > Time.now %>
          (noch <%= distance_of_time_in_words(start.race.planned_for - 1.hour, Time.now) %>)
        <% end %>
          </span>
        <% end %>
        <br>
        <%= start.participant.number %>: <%= start.participant.team_name %><br>
        <em><%= start.participant.rower_names %></em>
      </li>
    <% end %>
  </ul>
<% end %>