<%= render 'header' %>

<h3>Teilnehmer Rennen <%= @event&.number %> <small><%= @event&.name_short %></small></h3>
<p class="lead">
  <%= @event&.name %>
</p>

<table class="table">
  <thead>
  <tr>
    <th>Bugnr.</th>
    <th>Land</th>
    <th>Teamname</th>
    <th>Ruderer</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <% rower_link = -> (rower, name) { link_to name, rower_path(@regatta, rower) } %>
  <% @event&.participants&.each do |p| %>
    <tr class="<%= participant_state_classes(p) %>">
      <td><%= p.number %></td>
      <td><%= p.team.try(:country) %></td>
      <td><%= p.team_name(regatta: @regatta) %></td>
      <td><%= p.rower_names(rower_link: rower_link) %></td>
      <td><%= p.state %></td>
    </tr>
  <% end %>
  </tbody>
</table>

