<%= render 'header' %>

<h2>Ergebnisse in Rennen <%= @event.number %> <small class="text-nowrap"><%= @event.name_short %></small></h2>
<p class="lead">
  <%= @event.name %>
</p>

<% has_comments = @results.any? { |r| r.comment.present? } %>
<% @results.group_by { |res| res.race.type_short }.each do |race_type, race_type_results| %>
  <div style="break-inside: avoid">
    <% race_type_results.group_by(&:race).sort_by(&Parameter.race_sorter).each do |race, race_results| %>
      <div style="break-inside: avoid">
        <a class="anchor" id="<%= race.to_param %>"></a>
        <h3><%= race.name %></h3>
        <div class="result-row result-row__header">
          <div class="position">Pos.</div>
          <div class="number">Bugnr</div>
          <div class="country">Land</div>
          <div clasS="team">Teamname</div>
          <div class="times">
            <% @measuring_points.each do |mp| %>
              <div class="time"><%= mp.name %></div>
            <% end %>
            <% if has_comments %>
              <div class="comment"></div>
            <% end %>
          </div>
        </div>
        <% position = 1 %>
        <% last_position = position %>
        <% last_time = nil %>
        <% max_measuring_point_number = race_results.map { |r| r.times.map(&:measuring_point_number).max }.compact.max %>
        <% race_results.sort_by { |r| r.time_for(max_measuring_point_number)&.sort_time_str || 'ZZZZZZZZZ' }.each do |r| %>
          <% participant = @event.participants.find { |p| p.participant_id == r.participant_id } %>
          <% last_mp_time = r.time_for(max_measuring_point_number).try(:time) %>
          <div class="result-row">
            <div class="position">
              <% if last_mp_time && last_mp_time != last_time %>
                <%= last_position = position %>
              <% elsif last_mp_time %>
                <%= last_position %>
              <% end %>
            </div>
            <% last_time = last_mp_time; position+= 1 %>
            <div class="number"><%= participant.number %></div>
            <div class="country"><%= participant.team.try(:country) %></div>
            <div class="team"><%= participant.team_name %></div>
            <div class="rower-names"><%= participant.rower_names %></div>
            <div class="times">
              <% @measuring_points.each do |mp| %>
                <div class="time"><%= r.time_for(mp).try(:time) %></div>
              <% end %>
              <% if has_comments %>
                <div class="comment"><%= r.comment %></div>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="result-footer">
          <div class="started_at">
            Startzeit: <%= l race.started_at %>
          </div>
          <div class="result_official">
            <%= race.is_official? ? 'Ergebnis endgültig' : 'Ergebnis vorläufig' %>
            <%= '(Ergebnis korrigiert)' if race.result_corrected? %>
          </div>
        </div>
      </div>
    <% end %>

    <% {not_at_start: "Nicht am Start erschienen", disqualified: "Ausgeschlossen", withdrawn: "Abgemeldet"}.each do |key, label| %>
      <% if @missing[key][race_type].present? %>
        <div class="mb-4">
          <h5><%= label %></h5>
          <% @missing[key][race_type].each do |participant| %>
            <div class="result-row">
              <div class="position"></div>
              <div class="number"><%= participant.number %></div>
              <div class="country"><%= participant.team.try(:country) %></div>
              <div class="team"><%= participant.team_name %></div>
              <div class="rower-names"><%= participant.rower_names %></div>
              <div class="times"><%= participant.disqualified %></div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<script>
  autoreloadAfter(10000)
</script>