<%= render 'header', event: @event, type_label: Result.model_name.human(count: 1), type_variant: :results %>

<%= render 'print_button' %>

<% @results.group_by { |res| res.race.type_short }.each do |_race_type, race_type_results| %>
  <% race_results_pairs = race_type_results.group_by(&:race).sort_by(&Parameter.race_sorter) %>
  <div>
    <% race_results_pairs.each do |race, race_results| %>
      <%= render 'race_results', race: race, results: race_results, measuring_points: @measuring_points %>
    <% end %>
    <%= render 'race_type_missing', race_results_pairs: race_results_pairs, event: @event %>
  </div>
<% end %>

<%= render 'print_footer' %>

<% if @results.any? { |r| !r.race.result_confirmed? } %>
  <script>
      autoreloadAfter(30000)
  </script>
<% end %>