<%= render 'header' %>

<%= render 'now' %>

<h3>Verfügbare Rennen</h3>

<div class="table-responsive-md">
  <table class="table">
    <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>
          <div class="row">
            <div class="col-lg-6 col-12 mr-auto">
              <strong><%= event.label %></strong>
              (<%= event.name %>)
            </div>
            <% participants_count = event.participants.reject(&:withdrawn).size %>
            <div class="col-lg-2 col-4">
              <%= link_to "#{participants_count} Meldungen", event_participants_path(@regatta, event) if participants_count > 0 %>
            </div>
            <div class="col-lg-2 col-4">
              <%= link_to "#{event.starts_count} Starts", event_starts_path(@regatta, event) if event.starts_count > 0 %>
            </div>
            <div class="col-lg-2 col-4">
              <%= link_to "#{event.results_count} Ergebnisse", event_results_path(@regatta, event) if event.results_count > 0 %>
            </div>
            <div class="col-12">
              <% if event.starts_count > 0 or participants_count > 1 %>
                <% event.races.group_by(&:type_name).each do |tn, races| %>
                  <%= tn %> (<%= l(races.first.planned_for, format: "%a") %>): <%= races.map{ |r| l(r.planned_for, format: "%H:%M") }.join(", ") %><br>
                <% end %>
              <% else %>
                <em>Rennen findet nicht statt</em>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
  setTimeout(reloadWithTurbolinks, 10000)
</script>