<%= render 'header' %>

<h3>Geplante Starts in Rennen <%= @event.number %> <small><%= @event.name_short %></small></h3>
<p class="lead">
  <%= @event.name %>
</p>

<% rower_link = -> (rower, name) { link_to name, rower_path(@regatta, rower) } %>
<% @starts.group_by(&:race).sort_by(&Parameter.race_sorter).each do |race, starts| %>
  <div class="row">
    <a class="anchor" id="<%= race.to_param %>"></a>
    <h4 class="col-auto mr-auto"><%= race.name %></h4>
    <div class="col-auto"><%= l race.planned_for %></div>
  </div>
  <div class="table-responsive-md">
    <table class="table">
      <thead>
      <th>Bugnr.</th>
      <th>Land</th>
      <th>Teamname</th>
      <th>Ruderer</th>
      <th>Status</th>
      </thead>
      <tbody>
      <% starts.each do |s| %>
        <tr class="<%= participant_state_classes(s.participant) %>">
          <td><%= s.participant.number %></td>
          <td><%= s.participant.team.try(:country) %></td>
          <td><%= s.participant.team_name %></td>
          <td><%= s.participant.rower_names(rower_link: rower_link) %></td>
          <td><%= s.participant.state %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
