<%= render 'header' %>

<h1>Zeitplan</h1>

<div id="calendar"></div>

<div class="row">
  <% @races.group_by { |r| r.planned_for.to_date }.each do |date, races| %>
    <div class="col-md-6">
      <h2><%= l(date, format: :long) %></h2>
      <table class="table table-striped">
        <thead>
        <tr><th>Lauf</th><th>Zeit</th></tr>
        </thead>
        <tbody>
        <% races.each_with_index do |race, i| %>
          <% next_planned = race.planned_for && (race.planned_for + 8.minutes) %>
          <% next_planned = [next_planned, races[i+1].planned_for].compact.min if races[i+1]&.planned_for && races[i+1].type_short != 'K' %>
          <tr data-label="<%= race.full_name %>"
              data-start-time="<%= race.planned_for&.iso8601 %>"
              data-end-time="<%= next_planned&.iso8601 %>">
            <td><%= l race.planned_for, format: :short %></td>
            <td>
              <%= race.event.try(:number) %> -
              <%= race.event.try(:name_short) %> -
              <%= race.name %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>

<script type="module">
  import { Calendar } from 'https://cdn.skypack.dev/@fullcalendar/core@6.1.17';
  import timeGrid from 'https://cdn.skypack.dev/@fullcalendar/timegrid@6.1.17';
  import deLocale from 'https://cdn.skypack.dev/@fullcalendar/core/locales/de';

  document.addEventListener('DOMContentLoaded', function() {
    const calendar = new Calendar(document.getElementById('calendar'), {
      plugins: [timeGrid],
      locale: deLocale,
      themeSystem: 'bootstrap5',
      initialView: 'timeGrid',
      visibleRange: {
        start: '<%= @regatta.from_date %>',
        end: '<%= (@regatta.to_date + 1.day) %>'
      },
      slotDuration: '00:05:00',
      headerToolbar: {
        right: ''
      },
      slotMinTime: '<%= @races.map { |r| r.planned_for&.strftime( "%H:00" )  }.compact.min %>',
      slotMaxTime: '<%= @races.map { |r| r.planned_for && (r.planned_for + 15.minutes).strftime( "%H:%M" )  }.compact.max %>',
      allDaySlot: false,
      nowIndicator: true,
     // slotEventOverlap: false,
      events: loadEvents(),
      eventShortHeight: 100,
      displayEventEnd: false
    });
    calendar.render();
  });

  const loadEvents = () => {
    return [...document.querySelectorAll('table.table tbody tr')].map(row => {
      return {
        title: row.getAttribute('data-label'),
        start: row.getAttribute('data-start-time'),
        end: row.getAttribute('data-end-time')
      }
    })
  };
</script>
