<%= render 'header' %>

<h1>Nächste Rennen</h1>


<% @next_races.group_by { |r| r.planned_for.to_date }.each do |date, races| %>
  <h2><%= l(date, format: :long) %></h2>
  <% races.each do |race| %>
    <div class="row mb-3">
      <div class="col-md-4"><%= l race.planned_for, format: :short %></div>
      <div class="col-md-5">
        <%= race.event.try(:number) %> -
        <%= race.event.try(:name_short) %> -
        <%= race.name %></div>
      <div class="col-md-3">
        <% if race.starts.any? %>
          <%= link_to "Startlisten", event_starts_path(@regatta, race.event, anchor: race)  %>
        <% else %>
          <%= link_to "Noch nicht gesetzt", event_participants_path(@regatta, race.event, anchor: race)  %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
