<% content_for :filter_form do %>
  <%= render 'form' %>
<% end %>

<%= render 'regatta/print_footer' %>

<% last_event = nil %>
<% @races.each_with_index do |race, i| %>
  <% event_changed = race.event != last_event %>
  <% if params[:new_page_per_event] == "1" %>
    <% if event_changed %>
      <div class="<%= 'print-page-break' unless last_event.nil? %>">
        <%= render 'regatta/header', event: race.event, type_label: "Startlisten", type_variant: :starts %>
      </div>
    <% end %>
    <%= render 'regatta/race_starts', race: race, inline: params[:inline] != "0", with_withdrawn: params[:with_withdrawn] == "1", column_labels: params[:column_labels] != "0" %>
  <% else %>
    <%= render 'regatta/header', type_label: "Startlisten", type_variant: :starts if i == 0 %>
    <div class="print-keep-together">
      <% if event_changed %>
        <h4 class="mt-3 mb-1"><%= race.event.number %>&ensp;<small class="fw-normal text-body-secondary"><%= race.event.name_short %> <%= race.event.name %></small></h4>
      <% end %>
      <%= render 'regatta/race_starts', race: race, inline: params[:inline] != "0", with_withdrawn: params[:with_withdrawn] == "1", column_labels: params[:column_labels] != "0" %>
    </div>
  <% end %>
  <% last_event = race.event %>
<% end %>
