<table class="table">
  <thead>
  <tr>
    <th><%= Event.human_attribute_name(:number) %></th>
    <th><%= Race.human_attribute_name(:number) %></th>
    <th><%= Race.human_attribute_name(:started_at) %></th>
    <th>Gemessen von</th>
  </tr>
  </thead>
  <tbody>
  <% races.each do |race| %>
    <% measuring_point_type = race.event.measuring_point_type(@measuring_session.measuring_point_number) %>
    <% measurement_set = race.measurement_set_for(@measuring_session.measuring_point_number) %>
    <tr id="race_<%= race.event.number %>_<%= race.number %>">
      <td class="col-sm-1"><%= race.event.number %></td>
      <td class="col-sm-2">
        <% if measuring_point_type.nil? %>
          <%= race.name %> (<%= race.event.distance %>m Rennen)
        <% elsif measurement_set&.locked_for?(@measuring_session) %>
          <%= race.name %>
        <% else %>
          <%= link_to race.name, measurement_path(@regatta, measuring_session_id: @measuring_session, event_number: race.event.number, race_number: race.number) %>
        <% end %>
      </td>
      <td class="col-sm-2">
        <% if race.started_at %>
          <%= l(race.started_at, format: :short) %>
        <% elsif race.planned_for %>
          <em>Soll: <%= l(race.planned_for, format: :short) %></em>
        <% end %>
      </td>
      <td class="col-sm-2">
        <% if measurement_set&.measuring_session %>
          <%= measurement_set.measuring_session.device_description.presence || measurement_set.measuring_session.identifier %>
        <% elsif measurement_set %>
          Administrator
        <% else %>
          <em>Noch nicht gemessen</em>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>