<table class="table">
  <% @measuring_sessions.each do |ms| %>
  <tr>
    <td><%= ms.device_description %></td>
    <td><%= link_to ms.identifier, measuring_session_url(@regatta, ms) %></td>
    <td>
      <%= ms.measuring_point.name %>
      <% if ms.active_measuring_point&.number == ms.measuring_point.number %>
        <span class="badge badge-info">Aktiv</span>
      <% else %>
      <%= form_tag measuring_session_url(@regatta, ms), method: :patch do %>
          <button type="submit" name="activate" value="<%= ms.measuring_point.number %>" class="btn btn-primary">Aktivieren</button>
      <% end %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
