<h1>Zeitmessung</h1>

<p>
  Du sitzt bei <%= @measuring_session.measuring_point&.name %>,
  dein Gerät heißt <em><%= @measuring_session.device_description.presence || @measuring_session.identifier %></em>
</p>

<% if @measuring_session.active? %>
  <% if @my_races.present? %>
    <% latest = @my_races.select { |r| r.upcoming_measurement_for(@measuring_session.active_measuring_point) } %>
    <% if latest.present? %>
      <h3>Jetzt kommt:</h3>
      <% latest.each do |race| %>
        <%= link_to race.full_name, measurement_path(@regatta, measuring_session_id: @measuring_session, event_number: race.event.number, race_number: race.number), class: "btn btn-primary" %>
      <% end %>
    <% end %>

    <h3>Rennen zur Auswahl</h3>
    <%= render 'races_table', races: @my_races %>
  <% else %>
    Dir stehen leider keine Rennen zur Auswahl.
  <% end %>

  <% if @other_races.present? %>
    <h3>Andere Messungen</h3>
    <%= render 'races_table', races: @other_races %>
  <% end %>
<% else %>
  Du bist noch nicht für den Messpunkt bestätigt. Bitte warte bis das erledigt ist.
<% end %>

<script>
  autoreloadAfter(5000)
</script>