<h1>Benutzer bearbeiten</h1>

<%= bootstrap_form_for [:internal, @user] do |f| %>
  <%= hidden_field_tag :referrer, params[:referrer] %>

  <%= f.email_field :email %>
  <%= f.check_box :highlight_nobr %>

  <h2>Rollen</h2>

  <% User::ALL_ROLES.each do |role| %>
    <%= f.check_box "role_#{role}" %>
  <% end %>

  <br>

  <%= f.primary %>
  <%= link_to "Abbrechen", back_or_default, class: 'btn btn-secondary' %>
<% end %>