<h1>Benutzer bearbeiten</h1>

<%= bootstrap_form_for [:internal, @user] do |f| %>
  <%= hidden_field_tag :referrer, params[:referrer] %>

  <%= f.email_field :email %>

  <%#= f.password_field :password %>
  <%#= f.password_field :password_confirmation %>

  <h2>Rollen</h2>

  <%= f.check_box :role_admin %>
  <br>

  <%= f.primary %>
<% end %>