<h1>Benutzer</h1>

<div class="row">
  <div class="col-md-8 col-lg-9">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= User.human_attribute_name(:email) %></th>
        <th><%= User.human_attribute_name(:roles) %></th>
        <th><%= User.human_attribute_name(:last_sign_in_at) %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= Array.wrap(user.roles).presence&.map { |r| User.human_attribute_name("role_#{r}")}&.join(", ") || "-" %></td>
          <td><%= user.last_sign_in_at && l(user.last_sign_in_at) || "-" %></td>
          <td class="text-nowrap">
            <%= link_to(t('helpers.actions.edit_icon'), edit_internal_user_path(user),
                        class: 'btn btn-outline-primary btn-sm',
                        title: t('helpers.actions.edit')) %>
            <% unless user.id == current_user.id %>
              <%= button_to(t('helpers.actions.delete_icon'), internal_user_path(user),
                            method: :delete, data: { confirm: "Sicher?" },
                            class: 'btn btn-outline-danger btn-sm',
                            title: t('helpers.actions.delete')) %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4 col-lg-3">
  </div>
</div>