<%= render 'regatta/header' %>

<p class="fs-4">Hallo <%= @address.salutation %></p>

<% if can?(:access, :internal) %>
  <%= link_to "Interne Details", internal_address_url(@regatta, @address), class: 'btn btn-primary' %>
  <%= link_to t('helpers.titles.edit', model: Address.model_name.human), edit_internal_address_url(@regatta, @address), class: 'btn btn-secondary' %>
<% end %>

<% if @participants %>
  <h2 class="mt-4">Ihre Meldungen</h2>
  <%= render 'regatta/results_and_starts', results: @results || [], starts: @starts || [], participants: @participants %>
<% end %>

<script>
  autoreloadAfter(30000)
</script>