<% if @race && @result && @event  %>
  <div class="sticky-top px-3" style="background: var(--bg, rgba(0, 0, 0, 0.3)); margin-left: <%= @header_space_left || 0 %>px;">
    <strong><%= @race.event&.name %>: <%= @race.name %></strong>
    <span class="text-right"><%= '(Ergebnis vorläufig)' unless @race.result_confirmed? %></span>

    <div class="row">
      <p class="col-md-6">Gestartet um <%= l(@race.started_at, format: '%H:%M:%S') %></p>
      <p class="col-md-6 text-right"><%= @race.event.additional_text %></p>
    </div>
  </div>

  <div class="fixed-bottom px-2" style="background: var(--bg, rgba(0, 0, 0, 0.3)); margin-top: 10px; margin-left: <%= @footer_space_left || 0 %>px;">
    <div class="row">
      <div class="col-auto mr-auto">
        Bugnr. <%= @result.participant&.number %> - <%= @result.participant&.team&.country %>
      </div>
      <div class="col-auto">
        <%= @result.time_for(@event.finish_measuring_point)&.time %>
        bei <%= @event.distance %>m
      </div>
    </div>
    <div class="text-truncate"><%= @result.participant&.team&.name %></div>
    <div class="text-truncate"><%= @result.participant.rower_names %></div>
  </div>
<% end %>

<style>
  body {
    --bg: <%= @background_color || 'rgba(0, 0, 0, 0.3)' %>;
    background-color: lime;
    color: <%= @font_color || '#fff' %>;
  //font-smooth: never;
  //-webkit-font-smoothing: none;
    font-weight: bold;
    font-size: <%= @font_size || 24 %>px;
  }
  .sticky-top  {
  <% if @header_font_color %>
    color: <%= @header_font_color %>;
  <% end %>
  }
</style>

<script>
  autoreloadAfter(5000)
</script>
