<%= bootstrap_form_for [:internal, @participant] do |f| %>
  <%= hidden_field_tag :referrer, params[:referrer] %>

  <div class="row">
    <div class="col">
      <%= f.text_field :event, value: f.object.event&.label, disabled: true %>
      <%= f.hidden_field :event_number %>
      <%= f.number_field :number %>
    </div>

    <div class="col">
      <dialog-opener move-out="primary" local-reload id="dialog-opener-team">
        <%= content_tag 'find-reference', href: internal_teams_url(@regatta),
                        'value-field': 'team_id', 'label-field': 'name',
                        'initial-label': f.object.team&.name do %>
          <%= f.text_field :team_id, required: true,
                           append: link_to("+", new_internal_team_path(@regatta, referrer: current_url), class: "btn btn-secondary") %>
        <% end %>
      </dialog-opener>
      <%= f.number_field :team_boat_number %>
      <%= f.number_field :entry_fee, append: @regatta.currency || "€" %>
    </div>

    <div class="col">
      <%= f.check_box :withdrawn %>
      <%= f.check_box :late_entry %>
      <%= f.check_box :entry_changed %>
      <%= f.text_field :disqualified %>

      <% if @participant.imported_from.present? %>
        <%= f.text_field :imported_from, help: "Leeren Sie dieses Feld, wenn Sie die Meldung nicht vom DRV beziehen wollen. Ändern Sie hier nichts, wenn Sie nicht genau wissen was Sie tun." %>
      <% end %>
    </div>
  </div>


  <h4>Ruderer</h4>
  <div class="row">
    <% f.object.rower_fields.each do |field| %>
      <div class="col-md-4">
        <dialog-opener move-out="primary" local-reload id="dialog-opener-<%= field %>">
          <%= content_tag 'find-reference', href: internal_rowers_url(@regatta),
                          'value-field': 'id', 'label-field': 'name',
                          'initial-label': f.object.send(field)&.name do %>
            <%= f.text_field "#{field}_id", required: true,
                             append: link_to("+", new_internal_rower_path(@regatta, referrer: current_url), class: "btn btn-secondary")%>
          <% end %>
        </dialog-opener>
      </div>
    <% end %>
  </div>

  <div>
    <%= f.primary %>
    <%= link_to "Abbrechen", back_or_default, class: 'btn btn-secondary' %>
  </div>
<% end %>