<h1><%= t('helpers.titles.show', model: Participant.model_name.human, label: @participant.label).html_safe %></h1>

<div class="row">
  <div class="col-md-8 col-lg-9">
    <div class="row">
      <dl class="col">
        <%= dl_entry(@participant, :event) { |ev| ev && link_to(ev.label, internal_event_path(@regatta, ev)) || "-" } %>
        <%= dl_entry(@participant, :number) %>
        <%= dl_entry(@participant, :team) { |team| team && link_to(team.name, internal_team_path(@regatta, team)) || "-" } %>
        <%= dl_entry(@participant, :team_boat_number) %>
      </dl>

      <dl class="col">
        <% @participant.rower_fields.each do |field| %>
          <%= dl_entry(@participant, field)  { |rower| rower && link_to(rower.name, internal_rower_path(@regatta, rower)) || "-" } %>
        <% end %>
      </dl>

      <dl class="col">
        <% [:withdrawn, :late_entry, :entry_changed].each do |field| %>
          <%= dl_entry(@participant, field) do |val|
            safe_join([val,
                       button_to("⇄",
                                 internal_participant_path(@regatta, @participant, referrer: current_url),
                                 method: :patch, class: "btn btn-outline-primary btn-sm",
                                 title: "Umschalten",
                                 params: { participant: { field => !@participant.send(field) }})
                      ], " ")
          end %>
        <% end %>
        <%= dl_entry(@participant, :disqualified) %>
        <%= dl_entry(@participant, :imported_from) %>
        <%= dl_entry(@participant, :external_id) %>
      </dl>
    </div>

    <div class="my-3">
      <h4><%= Participant.human_attribute_name(:history) %></h4>
      <%= @participant.history&.html_safe %>
    </div>
  </div>
  <div class="col-md-4 col-lg-3">
    <%= link_to(t('helpers.titles.edit', model: Participant.model_name.human),
                edit_internal_participant_path(@regatta, @participant, referrer: current_url),
                class: 'btn btn-secondary d-block my-1') if can?(:edit, @participant) %>
    <%= button_to(t('helpers.actions.delete'), internal_participant_path(@regatta, @participant),
                  method: :delete, data: { confirm: "Sicher?"},
                  class: 'btn btn-danger d-block w-100',
                  form_class: 'd-block my-1') if can?(:delete, @participant) %>
    <hr>

    <%= link_to "Zurück zur Meldeansicht", internal_participants_path(@regatta, anchor: @participant.to_anchor),
                class: 'btn btn-secondary d-block my-1' %>
  </div>
</div>

<hr>


<h2>Starts</h2>
<%= render 'internal/races/starts', object: @participant %>

<h2>Ergebnisse</h2>
<%= render 'internal/races/results', object: @participant %>
