<!doctype html>
<html lang="de">
<head>
  <title>PerpWeb</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <% if @noindex %>
    <meta name="robots" content="noindex">
  <% end %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="turbolinks-cache-control" content="no-preview">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-expand fixed-top navbar-dark bg-dark">

  <div class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Regatta-Übersicht", regatta_path(@regatta), class: "nav-link#{" active" unless ["upcoming", "representative"].include?(params[:action])}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Geplante Starts", upcoming_path(@regatta), class: "nav-link#{" active" if params[:action] == "upcoming"}" %>
      </li>
      <% if @representative.present? %>
        <li class="nav-item">
          <%= link_to "Obleute-Ansicht", representative_path(@regatta, @representative.public_private_id), class: "nav-link#{" active" if params[:action] == "representative"}" %>
        </li>
      <% end %>
    </ul>

    <% if @regattas.present? %>
      <%= form_tag root_path, method: :get, class: "form-inline my-2 my-md-0 d-none d-lg-block" do %>
        <%= select_tag :regatta_id, options_from_collection_for_select(@regattas, 'id', 'name', @regatta.try(:id)), class: "form-control mr-sm-2" %>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>
      <% end %>
    <% end %>
  </div>
</nav>
<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <%= yield %>
</div>
</body>
</html>
