<!doctype html>
<html lang="en">
<head>
  <title>PerpWeb</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% unless @no_navigation %>
  <nav class="navbar  navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="<%= regatta_path(@regatta) %>"><%= @regatta.name %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Übersicht", regatta_path(@regatta), class: "nav-link#{" active" if params[:controller] == "events"}" %>
        </li>
      </ul>
    </div>
  </nav>
<% end %>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
