<!doctype html>
<html lang="de">
<head>
  <title>PerpWeb</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <% if @noindex %>
    <meta name="robots" content="noindex">
  <% end %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="turbolinks-cache-control" content="no-preview">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% if controller.class.is_internal? %>
    <%= stylesheet_link_tag 'internal', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'internal', 'data-turbolinks-track': 'reload' %>
  <% end %>
  <%= javascript_importmap_tags('app') %>
  <% Array.wrap(@additional_stylesheets).each do |css| %>
    <%= stylesheet_link_tag css, 'data-turbolinks-track': 'reload' %>
  <% end %>
  <% Array.wrap(@additional_javascript).each do |js| %>
    <%= javascript_include_tag js, 'data-turbolinks-track': 'reload' %>
  <% end %>
</head>

<body class="d-flex flex-column min-vh-100 <%= (controller.class.is_internal? || controller.is_a?(MeasurementsController) || controller.is_a?(MeasuringSessionsController)) ? 'internal' : '' %>">
<% unless @no_main_nav %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if @regatta&.persisted? %>
            <li class="nav-item">
              <%= link_to "Regatta-Übersicht", regatta_path(regatta_id: @regatta), class: "nav-link#{" active" unless ["upcoming", "representative"].include?(params[:action])}" %>
            </li>
            <li class="nav-item">
              <%= link_to "Geplante Starts", upcoming_path(@regatta), class: "nav-link#{" active" if params[:action] == "upcoming"}" %>
            </li>
            <li class="nav-item">
              <%= link_to "Zeitplan", time_schedule_path(@regatta), class: "nav-link#{" active" if params[:action] == "time_schedule"}" %>
            </li>
            <% if @my_address.present? %>
              <li class="nav-item">
                <%= link_to "Meine Seite", my_path(@regatta, @my_address.public_private_id), class: "nav-link#{" active" if params[:controller] == "my"}" %>
              </li>
            <% end %>
          <% end %>
          <% if current_user.present? && regatta_id = (@regatta&.id || Parameter.current_regatta_id.to_s.presence) %>
            <li class="nav-item">
              <%= link_to "Intern", internal_url(regatta_id), class: "nav-link#{" active" if params[:controller].to_s =~ /^internal/}" %>
            </li>
          <% end %>
        </ul>

        <% if @regatta && @regattas.present? %>
          <%= form_tag request.original_url, method: :get, class: "d-flex" do %>
            <%= select_tag :new_regatta_id, options_from_collection_for_select(@regattas, 'id', 'name', @regatta.try(:id)), class: "form-control me-2" %>
            <button class="btn btn-outline-success" type="submit">Go</button>
          <% end %>
        <% end %>
      </div>
    </div>
  </nav>
<% end %>

<div class="main container<%= @page_container_suffix %> flex-grow-1">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value.html_safe %>
    </div>
  <% end %>

  <%= yield %>
</div>
<footer class="bg-light text-center text-muted py-2 mt-5 border-top small">
  <div class="container">
    <p class="mb-1">
      <span class="d-block d-md-inline-block">
        <strong><a href="https://github.com/tillsc/perp_web" target="_blank" rel="noopener">perp.de</a></strong> –
        Regattaverwaltung für Ruderregatten <span class="d-none d-md-inline-block">·</span>
      </span>
      <span class="d-block d-md-inline-block">
        <a href="https://polyformproject.org/licenses/noncommercial/1.0.0/" target="_blank" rel="noopener">PolyForm Noncommercial License 1.0.0</a>
      </span>
    </p>
    <p class="mb-1">
      <span class="d-block d-md-inline-block">
        Frei nutzbar für alle nicht-kommerziellen Regatten <span class="d-none d-md-inline-block">·</span>
      </span>
      <span class="d-block d-md-inline-block">
        Unterstützt vom <a href="https://www.rrc-online.de" target="_blank" rel="noopener">Ratzeburger Ruderclub</a>
      </span>
    </p>
    <p class="mb-0 text-muted">
      <span class="d-inline-block">© <%= Time.current.year %> Till Schulte-Coerne · Version <%= PerpWeb::Version %></span>
    </p>
  </div>
</footer>
</body>
</html>
