<!doctype html>
<html lang="de">
<head>
  <title>PerpWeb</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <% if @noindex %>
    <meta name="robots" content="noindex">
  <% end %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="turbolinks-cache-control" content="no-preview">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if @regatta %>
          <li class="nav-item">
            <%= link_to "Regatta-Übersicht", regatta_path(@regatta), class: "nav-link#{" active" unless ["upcoming", "representative"].include?(params[:action])}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Geplante Starts", upcoming_path(@regatta), class: "nav-link#{" active" if params[:action] == "upcoming"}" %>
          </li>
          <% if @representative.present? %>
            <li class="nav-item">
              <%= link_to "Obleute-Ansicht", representative_path(@regatta, @representative.public_private_id), class: "nav-link#{" active" if params[:action] == "representative"}" %>
            </li>
          <% end %>
        <% end %>
        <% if current_user.present? %>
          <li class="nav-item">
            <%= link_to "Intern", internal_url(@regatta || Parameter.current_regatta_id.to_s), class: "nav-link#{" active" if params[:controller].to_s =~ /^internal/}" %>
          </li>
        <% end %>
      </ul>

      <% if @regattas.present? %>
        <%= form_tag request.original_url, method: :get, class: "d-flex" do %>
          <%= select_tag :new_regatta_id, options_from_collection_for_select(@regattas, 'id', 'name', @regatta.try(:id)), class: "form-control me-2" %>
          <button class="btn btn-outline-success" type="submit">Go</button>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <%= yield %>
</div>
</body>
</html>
